@{
    ViewBag.Title = "Prayer Universe";
}

<div class="jumbotron">
    <h1>Unite through Prayer! Show love!</h1>
    <p class="lead">Join our inclusive community of ALL religions, races and creeds and pray for one another!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pray for a Better World!</h2>
        <p>
            World Peace? Why not? Maybe we can achieve it though prayer, together!
            Put the strength of our diverse prayer community behind your goal!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pray for the Ones Closest to You!</h2>
        <p>Does someone close to you need divine intervention? Get the exponentially greater power of prayer and faith provided by our members on your side, for your cause!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Meet New People of Faith!</h2>
        <p>Meet awesome people from all backgrounds and religions!  It is by discourse and familiarity that we weed out resentment and ignorance!  Pray for your fellow citizen of the world today!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>