@model IEnumerable<PrayersAnswered.Models.Prayer>
    @{
        ViewBag.Title = "Home Page";
    }

<ul>
    @foreach (var prayer in Model)
    {
        <li>@prayer.DateTime - @prayer.Poster.Name</li>
        
    }



</ul>