@model IEnumerable<PrayersAnswered.Models.Prayer>
    @{
        ViewBag.Title = "Home Page";
    }

<ul class="prayers">

   
    @foreach (var prayer in Model)
    {
        <li>


            <div class="fields">
                <div class="title">
                    @prayer.Title
                </div>
                <div class="prayingFor">
                    @prayer.PrayingForYou.ToString($"{0} prayers")
                </div>
            </div>
            <div class="details">
                <div class="name">
                    @prayer.Poster.Name
                </div>
                <div class="posted">
                    @prayer.DateTime.ToString("g")
                </div>

                <div class="answered">
                    @if (prayer.IsAnswered)
                    {
                        String.Format("{1}'s prayer was answered!<br/>" +
                                      "See details!", prayer.Poster.Name);

                    }
                    
                </div>
            </div>



        </li>

    }
</ul>